<% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%= link_to_back client_casenotes_path, :text => t('.back', :default => 'Back to casenotes list') %></li>
    <% unless @casenote.new_record?  %>
    <li><%= link_to_show @casenote %></li>
    <% end -%>
  </ul>
<% end -%>
<% form_for([@client,@casenote]) do |f| %>
<%= f.error_messages %>
<p>
  <%#= f.label :client,  Casenote.human_attribute_name('client') %><br />
  <%#= f.text_field :client %>
</p>
<p>
  <%= f.label :name,  Casenote.human_attribute_name('name') %><br />
  <%= f.text_field :note %>
</p>

<p>
  <%= f.submit t('.submit', :default => "Confirm") %>
</p>
<% end %>

